.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }

  &__address {
    font-style: normal;
    margin-top: 20px;
  }

  &__common {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &--light {
    color: var(--alternative-text-color);
  }

  &--gray {
    color: rgba(255, 255, 255, 0.6);
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__container {
    // display: flex;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }
    @media screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }

  &__social {
    @media screen and (min-width: $tablet) {
    }

    @media screen and (min-width: $desktop) {
    }
  }

  &__subscribe {
    // margin: 0 auto;

    @media screen and (min-width: $desktop) {
      margin-right: 0;
      // margin-left: auto;
    }
  }

  &__information {
    // margin-right: 70px;
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__details {
    // padding-top: 12px;
    // display: flex;
    // justify-content: center;
  }
}

.subscribe {
  // margin-left: 93px;
  margin-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-top: 0;
  }

  &__icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  &__form {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__input {
    // width: 358px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-background-color);
    padding-left: 16px;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__input,
  &__input::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    width: 200px;
    height: 50px;
    background-color: var(--active-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--alternative-text-color);
    margin-left: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alternative-text-color);
    margin-bottom: 20px;
  }
}
