.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: var(--transition-timing-function);

  &.is-hidden .modal {
    transform: scale(1.2) translate(-100%);
    transition: transform 1000ms;
  }
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms;

  &__close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close:hover,
  &__close:focus {
    outline: none;
    border-color: var(--active-btn-color);
    color: var(--active-btn-color);
  }

  &__close-icon {
    width: 17px;
    height: 17px;
    fill: currentColor;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 12px;
  }

  &__input-field {
    margin-bottom: 10px;
  }

  &__button {
    width: 200px;
    height: 50px;
    background: var(--active-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--alternative-text-color);
  }

  &__button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__agreement {
    margin-bottom: 30px;
  }

  &__feedback {
    margin-bottom: 20px;
  }
}

.input-field {
  &__text {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--paragraph-text-color);
    margin-bottom: 4px;
  }

  &__wrap {
    position: relative;
    cursor: pointer;
  }

  &__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 15px;
    cursor: inherit;
    transition-property: outline;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &__input:focus,
  &__wrap:hover > &__input {
    outline: 1px solid var(--active-btn-color);
  }

  &__input:focus + &__icon,
  &__wrap:hover &__icon {
    fill: var(--active-btn-color);
  }

  &__icon {
    pointer-events: none;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}

.feedback {
  &__label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--paragraph-text-color);
    margin-bottom: 4px;
  }

  &__input {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: 1px solid var(--active-btn-color);
    }

    &::placeholder {
      font-weight: normal;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.fake-checkbox {
  display: flex;
  align-items: center;

  &__item {
    width: 16px;
    height: 15px;
    display: inline-block;
    border-radius: 2px;
    border: 2px solid var(--main-text-color);
    margin-right: 8px;
    transition-property: border-color background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &__input:focus + &__item {
    border-color: var(--active-btn-color);
  }

  &__input:checked + &__item {
    background-color: var(--active-btn-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--active-btn-color);
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-text-color);

    &--underlined-accent {
      color: var(--accent-color);
      text-decoration: underline;
    }
  }
}
