.team {
  background-color: var(--light-background-color);

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
  }

  &__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }

  &__role {
    line-height: 1.18;
    text-align: center;
    color: var(--paragraph-text-color);
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-basis: calc(100% / 4 - var(--card-gap));
  }

  &__item {
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: var(--card-gap);
    }
  }

  &__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
