.technologies {
  background-color: var(--main-background-color);
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-right: calc(-1 * var(--card-gap));
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: var(--card-gap);
    }
  }

  &__desc {
    background: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alternative-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
