:root {
  /* text variables*/
  --main-text-color: #212121;
  --alternative-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  /* button variables */
  --inactive-btn-color: #f5f4fa;
  --active-btn-color: #2196f3;
  /* background variables */
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  /* gaps */
  --card-gap: 30px;
  /* transition  */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
